body {
    background-image: url(../images/light-grey-linen-559x447.jpg);
    background-repeat: repeat;
    padding-bottom: 70px;
} 

header {
    /* padding: 20px 0px 15px 0px; */
    background-color: #59aaa5;
    color: white;
    font-size:large;
}

/* nav {
    padding: 16px 0;
    margin-right: 0px;
} */

footer {
    padding-bottom: 70px;
}

