body {
    background-image: url(../images/light-grey-linen-559x447.jpg);
    background-repeat: repeat;
    padding-bottom: 70px;
} 

h3 {
    color:#59aaa5;
}

header{
    background-color: #59aaa5;
}

footer {
    padding-bottom: 70px;
    border-top: 6px solid #59aaa5;
}

div .card-img-overlay {
    background-color: #59aaa5;
    margin-top: 145px;
    /* height: 25px; */
    /* text-align: center; */
    /* padding-bottom:25px; */
}