body {
    background-image: url(../images/light-grey-linen-559x447.jpg);
    background-repeat: repeat;
    padding-bottom: 70px;
} 

header {
    /* padding: 20px 0px 15px 0px; */
    background-color: #59aaa5;
    color: white;
    font-size:large;
}

h3 {
    color:#59aaa5;
}

footer {
    padding-bottom: 70px;
    border-top: 4px solid #59aaa5;
}

